/* Form Styling */
input[type=text],input[type=password],textarea,select {
	/*padding: 9px;*/
	padding: 4px;
	border: solid 1px #C9C9C9;
	outline: 0;
	font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
	width: 200px;
	margin: 4px;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF) );
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px)
		;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

select {
	padding: 4px;
}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

input:hover,textarea:hover,select:hover {
	border-color: #C2C2C2;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

input:focus,textarea:focus,select:focus {
	border-color: #82c2e3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
	outline: 0;
}

select:hover {
	cursor: pointer;
}

option {
	padding: 0 3px;
	border-bottom: 1px solid #ededed;
}

label {
	font-weight: bold;
	color: #bbb;
	font-size: 16px;
	padding-right: 5px;
}

label:hover {
	cursor: pointer;
	color: #aaa;
}

input[type=hidden] {
	display: none !important;
}

input[type=checkbox] {
	margin: 3px;
	display: inline !important;
}

input[disabled=disabled],input[disabled=disabled]:hover {
	opacity: 0.5;
}

input.longer {
	width: 240px;
}

/* Button/Submit Styling */
input[type=submit],input[type=submit]:visited,input[type=button],input[type=button]:visited {
	background: #222 url(images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	border: none;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #111;
	color: #fff;
}

input[type=submit]:active {
	top: 1px;
}

input[type=submit].small,input[type=submit].small:visited,
input[type=button].small,input[type=button].small:visited {
	font-size: 11px
}

input[type=submit],input[type=submit]:visited,input[type=submit].medium,input[type=submit].medium:visited
input[type=button],input[type=button]:visited,input[type=button].medium,input[type=button].medium:visited
	{
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input[type=submit].large,input[type=submit].large:visited,
input[type=button].large,input[type=button].large:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}

input[type=submit].super,input[type=submit].super:visited,
input[type=button].super,input[type=button].super:visited {
	font-size: 34px;
	padding: 8px 14px 9px;
}

input[type=submit].green,input[type=submit].green:visited,
input[type=button].green,input[type=button].green:visited {
	background-color: #91bd09;
}

input[type=submit].green:hover,
input[type=button].green:hover {
	background-color: #749a02;
}

input[type=submit].red,.input[type=submit].red:visited,
input[type=button].red,.input[type=button].red:visited {
	background-color: #e62727;
}

input[type=submit].red:hover,
input[type=button].red:hover {
	background-color: #cf2525;
}

input[type=submit].blue,input[type=submit].blue:visited,
input[type=button].blue,input[type=button].blue:visited {
	background-color: #2981e4;
}

input[type=submit].blue:hover,
input[type=button].blue:hover {
	background-color: #2575cf;
}

/* Feildset styling */
legend {
	background: #F8F8F8;
	border: 1px solid #BCBCBC;
	font-size: 17px;
	padding: 4px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

fieldset {
	-webkit-border-radius: 2px 9px 2px 9px;
	-moz-border-radius: 2px 9px 2px 9px;
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
	margin: 20px 4px;
	padding: 12px;
}

fieldset.none {
	width: 44%;
	float: left;
	border: 1px solid #ddd;
	padding: 12px;
	margin: 14px 10px;
	background: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

fieldset.none legend {
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 4px 8px;
	font-size: 14px;
	background: none;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
}

fieldset.none input {
	display: block;
}

fieldset.none input[type=password],fieldset.none input[type=text] {
	width: 225px;
}

fieldset.none fieldset.none {
	width: 88%;
}

fieldset.wide {
	width: 93% !important;
}

fieldset.wide input {
	display: inline;
	margin-right: 10px;
}

.search {
    padding-left: 18px !important;
    background: url("images/magnifier.png") no-repeat 2px 50% !important;
}

small select, small input {
    font-size: 10px !important;
    padding: 2px !important;
}
