.icon {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 1px;
  padding-left: 24px !important;
  line-height: 16px;
  text-decoration: none;
}
.icon-right {
	background-position: 100% 50% !important;
	padding-left: 0px !important;
    padding-right: 24px !important;	
}
.edit {
    background-image: url('images/pencil.png');
}
.exclamation {
    background-image: url('images/exclamation.png');
}
.refresh {
    background-image: url('images/arrow_refresh.png');
}
.details {
    background-image: url('images/application_view_detail.png');
}