.header, .container {
	width: 850px !important;
}
.header .left {
    width: 648px !important;
}
#donar {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 5px;
	background-color: #B3C2C7;
	align: center;
	-webkit-box-shadow: 0 0 10px rgb(0,0,0);
	-moz-box-shadow: 0 0 10px rgb(0,0,0);
	box-shadow: 0 0 10px rgb(0,0,0);
}
.helptext {
  font-family: sans-serif;
  font-size: 0.75em;
  padding-left: 2em;
  max-width: 30em;
  color: #666;
  line-height: 120%;
  margin: 0.2em 0;
}

/* Form Styling */
input[type=text],input[type=password],textarea,select {
    /*padding: 9px;*/
    padding: 4px;
    border: solid 1px #C9C9C9;
    outline: 0;
    font: normal 13px/ 100% Verdana, Tahoma, sans-serif;
    width: 200px;
    margin: 4px;
    background: #FFFFFF;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
        color-stop(4%, #EEEEEE), to(#FFFFFF) );
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px)
        ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

select {
    padding: 4px;
}

textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}

input:hover,textarea:hover,select:hover {
    border-color: #C2C2C2;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

input:focus,textarea:focus,select:focus {
    border-color: #82c2e3;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
    outline: 0;
}

select:hover {
    cursor: pointer;
}

option {
    padding: 0 3px;
    border-bottom: 1px solid #ededed;
}

label {
    font-weight: bold;
    color: #444;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}

label:hover {
    cursor: pointer;
    color: #aaa;
}

input[type=hidden] {
    display: none !important;
}

input[type=checkbox] {
    margin: 3px;
    display: inline !important;
}

input[disabled=disabled],input[disabled=disabled]:hover {
    opacity: 0.5;
}

input.longer {
    width: 240px;
}

/* Button/Submit Styling */
input[type=submit],input[type=submit]:visited,input[type=button],input[type=button]:visited {
    background: #222 url(images/overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    border: none;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #111;
    color: #fff;
}

input[type=submit]:active {
    top: 1px;
}

input[type=submit].small,input[type=submit].small:visited,
input[type=button].small,input[type=button].small:visited {
    font-size: 11px
}

input[type=submit],input[type=submit]:visited,input[type=submit].medium,input[type=submit].medium:visited
input[type=button],input[type=button]:visited,input[type=button].medium,input[type=button].medium:visited
    {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input[type=submit].large,input[type=submit].large:visited,
input[type=button].large,input[type=button].large:visited {
    font-size: 14px;
    padding: 8px 14px 9px;
}

input[type=submit].super,input[type=submit].super:visited,
input[type=button].super,input[type=button].super:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}

input[type=submit].green,input[type=submit].green:visited,
input[type=button].green,input[type=button].green:visited {
    background-color: #91bd09;
}

input[type=submit].green:hover,
input[type=button].green:hover {
    background-color: #749a02;
}

input[type=submit].red,.input[type=submit].red:visited,
input[type=button].red,.input[type=button].red:visited {
    background-color: #e62727;
}

input[type=submit].red:hover,
input[type=button].red:hover {
    background-color: #cf2525;
}

input[type=submit].blue,input[type=submit].blue:visited,
input[type=button].blue,input[type=button].blue:visited {
    background-color: #2981e4;
}

input[type=submit].blue:hover,
input[type=button].blue:hover {
    background-color: #2575cf;
}

/* Feildset styling */
legend {
    background: #F8F8F8;
    border: 1px solid #BCBCBC;
    font-size: 17px;
    padding: 4px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

fieldset {
    -webkit-border-radius: 2px 9px 2px 9px;
    -moz-border-radius: 2px 9px 2px 9px;
    background: #F8F8F8;
    border: 1px solid #BBBBBB;
    margin: 20px 4px;
    padding: 12px;
}

fieldset.none {
    width: 44%;
    float: left;
    border: 1px solid #ddd;
    padding: 12px;
    margin: 14px 10px;
    background: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

fieldset.none legend {
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 4px 8px;
    font-size: 14px;
    background: none;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
}

fieldset.none input {
    display: block;
}

fieldset.none input[type=password],fieldset.none input[type=text] {
    width: 225px;
}

fieldset.none fieldset.none {
    width: 88%;
}

fieldset.wide {
    width: 93% !important;
}

fieldset.wide input {
    display: inline;
    margin-right: 10px;
}

.search {
    padding-left: 18px !important;
    background: url("images/magnifier.png") no-repeat 2px 50% !important;
}

small select, small input {
    font-size: 10px !important;
    padding: 2px !important;
}
/* Table Styling */
table,td {
    border: 1px solid #CCC;
    border-collapse: collapse;
    font: small/ 1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica,
        sans-serif;
}

table {
    width: 100%;
    border: none;
    border: 1px solid #CCC;
    display: table;
}

thead th,tbody th {
    background:url(images/sprites.png) repeat-x scroll 0 -1500px #EFEFEF;
    color: #555;
    padding: 5px 10px;
    border-left: 1px solid #CCC;
    text-align: left;
    font-weight: bold;
}

.desc-img,.asc-img {
    opacity: 0.5;
}

.desc-img:hover,.asc-img:hover {
    opacity: 0.8;
}

tbody tr td {
    padding: 5px 10px;
    color: #666;
}

tbody tr:hover {
    background: #FFF url(images/table-hover.png) repeat;
}

tbody tr:hover td {
    color: #454545;
}

tfoot td,tfoot th {
    border-left: none;
    border-top: 1px solid #CCC;
    padding: 6px;
    background: #FFF url(images/table-foot.png) repeat;
    color: #666;
}

caption {
    text-align: left;
    font-size: 20px;
    padding: 0 10px;
    color: #333;
    font-family: Georgia, "Times New Roman", Times, serif;
}

caption small {
    font-size: 11px;
    color: #666;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #ccc;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

caption .cap-link {
    float: right;
    padding: 1px 3px;
    border: 1px solid #bbb;
    background: #eee;
    font-size: 15px;
}

table a:link {
    color: #666;
    border-bottom: 1px dotted #dedede;
}

table a:visited {
    color: #777;
}

table a:hover {
    color: #036;
    text-decoration: none;
}

table a:active {
    color: #036;
}

tr.odd {
    background: #FFF;
}

tr.even {
    background: #F8F8F8;
}

tr.inact {
    background: #fbeee4 !important;
}

tr.table-good:hover,tr.table-error:hover {
    background: #fff;
}

tr.table-good td span,tr.table-error td span {
    display: block;
    background: #e19d9d;
    color: white;
    font-size: 15px;
    padding: 3px 8px;
    border: 2px solid #ae2525;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 8px;
}

tr.table-good td span {
    border-color: #3fa244 !important;
    background: #a5e9a8 !important;
    color: #333;
}
/** PAGINATOR **/
tfoot .pagination {
    float:right;
}

.pagination { padding:.5em .75em; float:left; font:normal .8em arial; }
 
.pagination .prev-na,
.pagination .next-na {
    padding:.3em;
    font:bold .875em arial;
}
 
.pagination .prev-na,
.pagination .next-na {
    border:1px solid #ccc;
    background-color:#f9f9f9;
    color:#aaa;
    font-weight:normal;
}
 
.pagination .prev a, .pagination .prev a:visited,
.pagination .next a, .pagination .next a:visited {
    border:1px solid #B3C2C7;
    background-color:#CCD8E0;
    color:#555555;
    padding:.3em;
    font:bold .875em arial;
}
 
.pagination .prev, .pagination .prev-na { margin-right:.5em; }
.pagination .next, .pagination .next-na { margin-left:.5em; }
 
.pagination .page a, .pagination .page a:visited, .pagination .curr {
    padding:.25em;
    font:normal .875em verdana;
    border:1px solid #B3C2C7;
    background-color:#CCD8E0;
    margin:0em .25em;   
    color:#555555;
}
 
.pagination .curr { 
    background-color:#555555;
    color:#CCD8E0;
    border:1px solid #555555;
    font-weight:bold;
    font-size:1em;
}
 
.pagination .page a:hover,
.pagination .curr a:hover,
.pagination .prev a:hover,
.pagination .next a:hover {
    color:#fff;
    background-color:#555555;
    border:1px solid #555555;
}
/* ------- MESSAGES ----------- */
ul.messages {
    list-style-type: none;
    padding: 5px;
    font-weight: bold;
}
ul.messages li {
    border: 1px solid;
    text-align:center;
    font-size:11px;
    padding: 3px;
    margin: 3px;
    color:black;
    background: none repeat scroll 0 0 transparent;
}
ul.messages li.success {
    background-color:#A5E9A8;
    border-color:#3FA244 !important;
}
ul.messages li.error {
    background-color:#F29B9B;
    border-color:#FF0000 !important;
}
ul.messages li.info {
    background-color:#84D7FF;
    border-color:#0080C0 !important;
}
ul.messages li.warning {
    background-color:#FFFFA8;
    border-color:#FFFF00 !important;
}
/* ------- ICONS ----------- */
.icon {
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 1px;
  padding-left: 24px !important;
  line-height: 16px;
  text-decoration: none;
}
.icon-right {
	background-position: 100% 50% !important;
	padding-left: 0px !important;
    padding-right: 24px !important;	
}
.edit {
    background-image: url('images/pencil.png');
}
.exclamation {
    background-image: url('images/exclamation.png');
}
.refresh {
    background-image: url('images/arrow_refresh.png');
}
.details {
    background-image: url('images/application_view_detail.png');
}
.vcard {
	background-image: url('images/vcard.png');
}
.close_button {
    float: right;
    cursor: pointer;
}