body {
    margin: 0; padding: 0;
}
#topnavigation {
    font: 10px normal Arial, Helvetica, sans-serif;
    top: 0px;
    left: 0px;    
}

ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 100%;
    background: #222;
    font-size: 1.2em;
    /*background: url(images/topnav_bg.gif) repeat-x;*/
    background: -moz-linear-gradient(center top , #333333, #111111) repeat scroll 0 0 transparent;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a, ul.topnav li span.subnav {
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li span.subnav {
	cursor: pointer;
}
ul.topnav li a:hover, ul.topnav li span.subnav:hover {
    background: url(images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span.sub { /*--Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;
    background: url(images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 35px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 170px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #111;    
}
ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 170px;
}
html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #333 url(images/dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
    background: #222 url(images/dropdown_linkbg.gif) no-repeat 10px center;
}