<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaeehttp://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<listener>
		<listener-class>jipdbs.web.JIPDBSContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>iddb.quartz.web.QuartzContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>ar.sgt.resolver.listener.ResolverListener</listener-class>
	</listener>

	<filter>
		<filter-name>LocaleFilter</filter-name>
		<filter-class>jipdbs.web.LocaleFilter</filter-class>
		<init-param>
			<param-name>timezone</param-name>
			<param-value>GMT-3</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>UserServiceFilter</filter-name>
		<filter-class>iddb.web.security.service.UserServiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserServiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ResolverFilter</filter-name>
		<filter-class>ar.sgt.resolver.filter.ResolverFilter</filter-class>
		<init-param>
			<param-name>exclude-path</param-name>
			<param-value>/media</param-value>
		</init-param>		
	</filter>
	<filter-mapping>
		<filter-name>ResolverFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>xmlrpc2</servlet-name>
		<servlet-class>jipdbs.xmlrpc.JIPDBSXmlRpc2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>httphandler</servlet-name>
		<servlet-class>jipdbs.http.JIPDBSHTTPHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>xmlrpc3</servlet-name>
		<servlet-class>jipdbs.xmlrpc.JIPDBSXmlRpc3Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>xmlrpc4</servlet-name>
		<servlet-class>jipdbs.xmlrpc.JIPDBSXmlRpc4Servlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>xmlrpc5</servlet-name>
		<servlet-class>jipdbs.xmlrpc.JIPDBSXmlRpc5Servlet</servlet-class>
	</servlet>		

	<servlet-mapping>
		<servlet-name>httphandler</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlrpc3</servlet-name>
		<url-pattern>/api/v3/xmlrpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlrpc4</servlet-name>
		<url-pattern>/api/v4/xmlrpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>xmlrpc5</servlet-name>
		<url-pattern>/api/v5/xmlrpc</url-pattern>
	</servlet-mapping>
     
	<error-page>
		<error-code>403</error-code>
		<location>/page/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/page/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/page/error.jsp</location>
	</error-page>	
	<!-- error-page>
		<exception-type>java.lang.Exception</exception-type>
       	<location>/page/error.jsp</location>
	</error-page-->
	
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/page/*</url-pattern>
			<include-prelude>/include/header.jsp</include-prelude>
			<include-coda>/include/footer.jsp</include-coda>
		</jsp-property-group>
		<jsp-property-group>
			<url-pattern>/admin/*</url-pattern>
			<include-prelude>/include/header.jsp</include-prelude>
			<include-coda>/include/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>

	<welcome-file-list>
		<welcome-file>page/search.jsp</welcome-file>
	</welcome-file-list>

</web-app>
